@using SAPPub.Web.Models.Search

@model SearchResultsViewModel

<div class="govuk-grid-column-two-thirds" id="results">
    <h3 class="govuk-heading-m" id="search-results-count">@Model.SearchResultsCount @(Model.SearchResultsCount! > 1 ? "results" : "result") for @Model.NameSearchTerm</h3>
    @* 
    @await Html.PartialAsync("_pagination", Model.Pagination)
   *@
    <hr />
    <ul style="list-style: none">
        @foreach (var searchItem in Model.SearchResults!)
        {
            <li id="name-@searchItem.URN">
                <h4 style="background-color:aliceblue">
                    @searchItem.EstablishmentName
                </h4>
            </li>
            <li id="urn-@searchItem.URN">
                <strong>URN: </strong>@searchItem.URN
            </li>
            <li id="address-@searchItem.URN">
                <strong>Address: </strong> @searchItem.Address
            </li>
            <li id="religious-character-@searchItem.URN">
                <strong>Type of establishment: </strong> @searchItem.ReligiousCharacter
            </li>
            <li id="pupil-sex-@searchItem.URN">
                <strong>Status: </strong> @searchItem.PupilSex
            </li>
        }
    </ul>
</div>
