@using SAPPub.Web.Models.EstablishmentComparison
@using SAPPub.Web.Helpers
@model EstablishmentComparisonButtonViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if(!Model.IsFeatureEnabled)
{
    return;
}

<form asp-controller="EstablishmentComparison" asp-action="ToggleSaveEstablishment" method="post" class="save-establishment-comparison-form">

    <input type="hidden" name="urn" value="@Model.Urn" />
    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />

    <div class="govuk-notification-banner govuk-notification-banner--success @(Model.ShowAddSuccessNotification ? "" : "govuk-visually-hidden")" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="comparison-add-success">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                School added to your schools list
            </p>
            <p class="govuk-body">
                @Model.SchoolName
            </p>
            <p class="govuk-body">You can compare up to 6 schools at a time.  <a class="govuk-link" href="@Model.ComparisonPageUrl">View your schools list</a></p>
                
        </div>
    </div>

    <div class="govuk-notification-banner govuk-notification-banner--success @(Model.ShowRemoveSuccessNotification ? "" : "govuk-visually-hidden")" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="comparison-remove-success">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                School removed from your schools list
            </p>
            <p class="govuk-body">
                @Model.SchoolName
            </p>
        </div>
    </div>

    @if (Model.IsComparisonLimitReached && !Model.ShowAddSuccessNotification && !Model.IsSaved)
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="" id="school-compare-limit-notification">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    You can only add 100 schools to your list. To add another, you must first remove a school. <a class="govuk-link" href="@Model.ComparisonPageUrl">Edit your schools list</a>
                </p>
            </div>
        </div>
        if (Model.IsSaved)
        {
            <button type="submit" class="remove-school-btn govuk-body-s saved">
                <span>@Model.SavedText</span>
            </button>
        }
    }
    else
    {
        @if (Model.IsSaved)
        {
            <button type="submit" class="remove-school-btn govuk-body-s @(Model.IsSaved ? "saved" : "")">
                <span>@Model.SavedText</span>
            </button>
        }
        else
        {
            <button type="submit" class="add-school-btn govuk-body-s @(Model.IsSaved ? "saved" : "")">
                <span>@Model.SaveText</span>
            </button>
        }
    }

</form>

<script nonce="@Html.ScriptNonce().ToString()">
    window.establishmentComparisonConfig = {
        saveText: "@Model.SaveText",
        savedText: "@Model.SavedText"
    };
</script>