@model SAPPub.Web.Areas.Compare.ViewModels.Secondary.CompareAboutYourSchoolsViewModel
@using SAPPub.Web.Constants
@using SAPPub.Web.ViewComponents.VerticalNavigationCompareSecondary

@{
    ViewData["Header"] = "About your schools";
    ViewData["SubHeader"] = PageTitleConstants.SecondarySchoolPageTitles.AboutYourSchools;
    ViewData["Title"] = $"Compare - {ViewData["SubHeader"]}";
}

<div class="govuk-grid-row">

    @await Component.InvokeAsync("VerticalNavigationCompareSecondary",
    new VerticalNavigationCompareSecondaryModel
    {
        URNs = Model.URNs,
        ActivePage = RouteConstants.CompareSecondaryAboutYourSchools
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">@Constants.CompareYourSchools</span>
            @ViewData["Header"]
        </h1>

        <h2 class="govuk-heading-l">Location</h2>

        <table class="govuk-table" id="schoolLocationTable">
            
            <caption class="govuk-visually-hidden">Locations of the schools being compared</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">School</th>
                    <th scope="col" class="govuk-table__header">Address</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var school in Model.CompareAboutSchools)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@school.SchoolName</th>
                        <td class="govuk-table__cell">@school.Address.DisplayText()</td>
                    </tr>
                }
            </tbody>
        </table>
     
        <div class="map-container govuk-visually-hidden">
            <div id="map"
                 data-radius-miles="3"
                 data-fixed-zoom="14"
                 data-points='@Html.Raw(Json.Serialize(Model.MapData))'
                 role="region"
                 aria-label="Map of the schools being compared">
                <div class="map-loading">Finding your location…</div>
            </div>
            <div class="legend">
                @foreach (var row in Model.MapData.Select((school, i) => (school, i)))
                {
                    <div class="legend-item">
                        <img src="@($"/assets/images/marker-school-{row.i + 1}.svg")" alt="" />
                        <span>@row.school.Name</span>
                    </div>
                }
            </div>
        </div>

        <div id="schoolInformationSummary" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">Further information</h3>
            </div>
        <div class="govuk-summary-card__content">
                @foreach (var school in Model.CompareAboutSchools)
                {
                    <div class="govuk-!-margin-bottom-4" id="further-info-@school.Urn">
                        <h4 class="govuk-heading-m" id="school-details-heading-@school.Urn">@school.SchoolName</h4>
                        <govuk-summary-list id="school-details-summary-@school.Urn">
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>School profile</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    <a id="school-profile-link-@school.Urn"
                                       class="govuk-link"
                                       href="@Url.Action("Index", "School", new { urn = school.Urn })"
                                       rel="noreferrer noopener" target="_blank">
                                        View @school.SchoolName's School Profile
                                        <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                    </a>
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Ofsted report</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    <a id="ofsted-report-link-@school.Urn"
                                       class="govuk-link"
                                       href="http://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/@school.Urn"
                                       rel="noreferrer noopener" target="_blank">
                                        View the latest Ofsted report
                                        <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                    </a>
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Website</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    <span id="school-website-value-@school.Urn">
                                        @if (school.Website.IsAvailable)
                                        {
                                            <a id="school-website-link-@school.Urn"
                                               class="govuk-link"
                                               rel="noreferrer noopener"
                                               target="_blank"
                                               href="@school.Website.DisplayText(UrlHelper.EnsureHttpsUrl)">
                                                @school.Website.Value
                                                <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                            </a>
                                        }
                                        else
                                        {
                                            @school.Website.DisplayText()
                                        }
                                    </span>
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        </govuk-summary-list>
                    </div>
                }
            </div>
        </div>

        <govuk-pagination id="about-the-school-pagination">
            <govuk-pagination-next href="@Url.RouteUrl(RouteConstants.CompareSecondaryAcademicPerformancePupilAttainment, new { urns = Model.URNs })">Academic Performance</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>

@section Scripts {
    <script nonce="@Html.ScriptNonce().ToString()" src="~/js/map-schools.js"></script>
}