
@model SAPPub.Web.Areas.Compare.ViewModels.Secondary.CompareAcademicPerformancePupilAttainmentViewModel
@using SAPPub.Web.Constants
@using SAPPub.Web.ViewComponents.VerticalNavigationCompareSecondary

@{
    ViewData["Header"] = "Academic Perfomance";
    ViewData["SubHeader"] = PageTitleConstants.SecondarySchoolPageTitles.PupilAttainment;
    ViewData["Title"] = $"Compare - {ViewData["SubHeader"]}";
}

<div class="govuk-grid-row">

    @await Component.InvokeAsync("VerticalNavigationCompareSecondary",
    new VerticalNavigationCompareSecondaryModel
    {
        URNs = Model.URNs,
        ActivePage = RouteConstants.CompareSecondaryAcademicPerformancePupilAttainment
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Comparing your schools</span>
            Academic Peformance
        </h1>

        <p class="govuk-body">
            Looking at school performance data is one way to see how well a school is doing.<br/>
            You should look at a range of information about a school before deciding if it's the right fit for your child.
        </p>

        <nav id="sub-navigation-academic-performance" class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="@Url.RouteUrl(RouteConstants.CompareSecondaryAcademicPerformancePupilAttainment)@Model.RouteQueryString">@ViewData["SubHeader"]</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="@Url.RouteUrl(RouteConstants.CompareSecondaryAcademicPerformanceEnglishAndMathsResults)@Model.RouteQueryString"> @PageTitleConstants.SecondarySchoolPageTitles.EnglishAndMathsResults</a>
                </li>
            </ul>
        </nav>

        <govuk-pagination id="academic-performance-attainment-pagination">
            <govuk-pagination-previous href="@Url.RouteUrl(RouteConstants.CompareSecondaryAboutYourSchools, new { urns = Model.URNs })">About your schools</govuk-pagination-previous>
            <govuk-pagination-next href="@Url.RouteUrl(RouteConstants.CompareSecondaryAcademicPerformanceEnglishAndMathsResults, new { urns = Model.URNs })">Academic performance: English and maths results</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>