@model SAPPub.Web.Models.SecondarySchool.AboutSchoolViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "About the school";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        Urn = Model.Urn,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAboutSchool
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <dl id="school-details-summary" class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Name
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Academy Trust
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.AcademyTrust

                    @if (!string.IsNullOrWhiteSpace(Model.AcademyTrustUpdatedIn))
                    {
                        <span class="govuk-hint govuk-clear">
                            (updated in @Model.AcademyTrustUpdatedIn)
                        </span>
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="@Model.Website">@Model.Website</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="tel:@Model.Telephone">@Model.Telephone</a>                    
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-l">Location</h2>

        <dl id="school-location-summary" class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Address
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Local authority
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.LocalAuthority
                    <span class="govuk-clear">
                        <a href="@Model.LocalAuthorityWebsite">View @Model.LocalAuthority City Council's website</a>
                    </span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Your distance from this school
                </dt>
                <dd class="govuk-summary-list__value">
                    <a>@Model.YouDistanceFromThisSchool</a>
                </dd>
            </div>
        </dl>

        <govuk-details id="details-map">
            <govuk-details-summary>
                View this information on a map
            </govuk-details-summary>
            <govuk-details-text>
                <div id="map"
                     data-radius-miles="3"
                     data-data-url="/map/schools"
                     data-fixed-zoom="14"
                     data-fallback-lat="51.5099"
                     data-fallback-lon="-0.0141"
                     role="region"
                     aria-label="Map of primary schools near you">
                    <div class="map-loading">Finding your location…</div>
                </div>
                <div class="legend">
                    <div class="legend-item">
                        <img src="~/assets/images/markers/marker-user.svg" alt="" />
                        <span>Your location</span>
                    </div>
                    <div class="legend-item">
                        <img src="~/assets/images/markers/marker-school-target.svg" alt="" />
                        <span>Nearest Primary School</span>
                    </div>
                    <div class="legend-item">
                        <img src="~/assets/images/markers/marker-school-nearby.svg" alt="" />
                        <span>Other primary schools within 3 miles</span>
                    </div>
                </div>
            </govuk-details-text>
        </govuk-details>

        <govuk-details id="details-sen">
            <govuk-details-summary>
                What is a SEN unit or a resourced provision?
            </govuk-details-summary>
            <govuk-details-text>
                <p>
                    Special educational needs (SEN) units and resourced provisions are specialist provisions in mainstream schools formally recognised by the local authority.
                </p>

                <p>
                    In SEN units pupils are taught within separate classes for at least half of their time.
                </p>

                <p>
                    In resourced provisions, pupils are taught within mainstream classes for at least half of their time, but have access to a base and specialist facilities around the school.
                </p>

                <p>
                    They are both for pupils with SEN, who typically have education, health, and care (EHC) plans.
                </p>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
@section Scripts {
    <script src="~/js/map-schools.js"></script>
}