@model SAPPub.Web.Models.SecondarySchool.AboutSchoolViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "About the school";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAboutSchool
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-xl">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <govuk-summary-list id="school-details-summary">
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.SchoolName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Academy Trust</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.AcademyTrust

                    @if (!string.IsNullOrWhiteSpace(Model.AcademyTrustUpdatedIn))
                    {
                        <span class="govuk-hint govuk-clear">
                            (updated in @Model.AcademyTrustUpdatedIn)
                        </span>
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Website</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <a class="govuk-link govuk-link--no-visited-state" href="@Model.Website" target="_blank">@Model.Website</a>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Telephone</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <a class="govuk-link govuk-link--no-visited-state" href="tel:@Model.Telephone">@Model.Telephone</a>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <h2 class="govuk-heading-l">Location</h2>

        <govuk-summary-list id="school-location-summary">
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Address</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.Address
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Local authority</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.LocalAuthority
                    <span class="govuk-clear">
                        <a class="govuk-link govuk-link--no-visited-state" href="@Model.LocalAuthorityWebsite" target="_blank">View @Model.LocalAuthority City Council's website</a>
                    </span>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Your distance from this school</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.YourDistanceFromThisSchool
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <govuk-details id="details-map">
            <govuk-details-summary>
                View this information on a map
            </govuk-details-summary>
            <govuk-details-text>
                <div id="map"
                     data-radius-miles="3"
                     data-data-url="/map/schools/@Model.URN"
                     data-fixed-zoom="14"
                     data-fallback-lat="@Model.Latitude"
                     data-fallback-lon="@Model.Longitude"
                     role="region"
                     aria-label="Map of primary schools near you">
                    <div class="map-loading">Finding your location…</div>
                </div>
                <div class="legend">
                    <div class="legend-item">
                        <img src="~/assets/images/marker-user.svg" alt="" />
                        <span>Your location</span>
                    </div>
                    <div class="legend-item">
                        <img src="~/assets/images/marker-school-target.svg" alt="" />
                        <span>Greystones Primary School</span>
                    </div>
                    @* <div class="legend-item">
                        <img src="~/assets/images/marker-school-nearby.svg" alt="" />
                        <span>Other primary schools within 3 miles</span>
                    </div> *@
                </div>
            </govuk-details-text>
        </govuk-details>

        <h2 class="govuk-heading-l">School features</h2>

        <govuk-summary-list id="school-features-summary">
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Value and ethos</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <a class="govuk-link govuk-link--no-visited-state" href="@Model.Website" target="_blank">View the value and ethos policy on the school website</a>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Ofsted report</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <a class="govuk-link govuk-link--no-visited-state" href="http://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/@Model.URN" target="_blank">View the latest Ofsted report</a>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Type of school</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.TypeOfSchool
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Headteacher</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.HeadTeacher
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Age range</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.AgeRange
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Number of pupils</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.NumberOfPupils
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Pupil sex</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.PupilSex
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Religious character</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.ReligiousCharacter
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Sixth form</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.SixthForm
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>SEN unit</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.SenUnit
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Resourced provision</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                   @Model.ResourcedProvision
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <govuk-details id="details-sen">
            <govuk-details-summary>
                What is a SEN unit or a resourced provision?
            </govuk-details-summary>
            <govuk-details-text>
                <p class="govuk-body">
                    Special educational needs (SEN) units and resourced provisions are specialist provisions in mainstream schools formally recognised by the local authority.
                </p>
                <p class="govuk-body">
                    In SEN units pupils are taught within separate classes for at least half of their time.
                </p>
                <p class="govuk-body">
                    In resourced provisions, pupils are taught within mainstream classes for at least half of their time, but have access to a base and specialist facilities around the school.
                </p>
                <p class="govuk-body">
                    They are both for pupils with SEN, who typically have education, health, and care (EHC) plans.
                </p>
            </govuk-details-text>
        </govuk-details>

        <h2 class="govuk-heading-l">School policies</h2>

        <div id="school-policies-summary" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">Documents published by the school</h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-summary-list__row">
                    <p class="govuk-body">
                        All schools in England must publish statutory policies and documents that explain how the school is run and how staff and pupils should behave.
                        Statutory policies and documents must be published on the school’s website. Schools can also create their own guidelines.
                    </p>
                    <a class="govuk-link govuk-link--no-visited-state" href="@Model.Website" target="_blank">View these policies on the school website</a>
                </div>
                
                <table class="govuk-table govuk-!-margin-top-5">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Policy</th>
                            <th scope="col" class="govuk-table__header">Description</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Accessibility plan</th>
                            <td class="govuk-table__cell">Includes how to increase curriculum participation, improve the physical environment, and make information more accessible for pupils with disabilities.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Behaviour policy</th>
                            <td class="govuk-table__cell">Includes school rules, what behaviour is expected of pupils and what the school does to prevent bullying.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Charging and remissions policy</th>
                            <td class="govuk-table__cell">Schools may charge for certain activities such as school trips or music tuition. This policy covers what the school charges for and when these charges can be reduced or waived.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Compliants policy</th>
                            <td class="govuk-table__cell">A complaints policy shows how parents or carers can raise concerns with a school and how to make a complaint.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Safeguarding policy</th>
                            <td class="govuk-table__cell">Outlines how the school protects pupils from harm, ensuring their safety and well-being.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">School uniform policy</th>
                            <td class="govuk-table__cell">Outlines to parents and carers what pupils are expected to wear and what the exceptions are.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Special educational needs and disabilities (SEND) information report</th>
                            <td class="govuk-table__cell">Schools must publish a report on their approach to SEND, including how the school supports pupils with SEND.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <govuk-pagination id="about-the-school-pagination">
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAdmissions" asp-all-route-data="@Model.RouteAttributes">Admissions</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>
@section Scripts {
    <script nonce="Html.ScriptNonce().ToString()" src="~/js/map-schools.js"></script>
}