@model SAPPub.Web.Models.SecondarySchool.AcademicPerformanceEnglishAndMathsResultsViewModel;
@using SAPPub.Core.Enums
@using SAPPub.Web.ViewComponents.VerticalNavigation
@using System.Text.Json
@using static SAPPub.Web.Models.SecondarySchool.AcademicPerformanceEnglishAndMathsResultsViewModel

@{
    ViewData["Title"] = "Academic Performance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-xl">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <p class="govuk-body">
            Looking at school performance data is one way to see how well a school is doing.
            You should look at a range of information about a school before deciding if it’s the right fit for your child.
        </p>
        <nav id="sub-navigation-academic-performance" class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformanceAttainmentAndProgress" asp-all-route-data="@Model.RouteAttributes">Attainment and progress</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" asp-route="@RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults" asp-all-route-data="@Model.RouteAttributes">English and maths results</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformanceSubjectsEntered" asp-all-route-data="@Model.RouteAttributes">Subjects entered</a>
                </li>
            </ul>
        </nav>

        <h2 class="govuk-heading-l">English and maths results for the previous academic year</h2>

        <p class="govuk-body">
            Information in this section is for the 2024 to 2025 academic year.
        </p>

        <govuk-details id="details-gcse-grades-explained">
            <govuk-details-summary>
                GCSE grade 9 to 1 scale explained
            </govuk-details-summary>
            <govuk-details-text>
                <p class="govuk-body">
                    GCSEs in England have been graded on a 9 to 1 scale since 2017. This replaced the previous A* to G scale. 
                </p>
                <p class="govuk-body">
                    The number scale is not directly equivalent to the old letter one. But the old and current grading scales are comparable at the following points: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        the bottom of a grade 7 is comparable to the bottom of the old grade A
                    </li>
                    <li>
                        the bottom of grade 4 is comparable to the bottom of the old grade C 
                    </li>
                    <li>
                        the bottom of grade 1 is comparable to the bottom of the old grade G
                    </li>
                </ul>
            </govuk-details-text>
        </govuk-details>

        <div id="graphSection" class="govuk-grid-row">
            <form method="get" asp-action="AcademicPerformanceEnglishAndMathsResults" asp-controller="SecondarySchool" asp-fragment="graphSection">
                <govuk-select for="@Model.SelectedGrade" class="govuk-grid-column-two-thirds govuk-input__wrapper" id="gradeSelector">
                    <govuk-select-label class="govuk-label--s govuk-!-margin-right-2 select-inline-label">Choose the grade you want to see results for</govuk-select-label>
                    <govuk-select-item value=@GcseGradeDataSelection.Grade4AndAbove selected="@Model.SelectedGrade == GcseGradeDataSelection.Grade4AndAbove">@GcseGradeDataSelection.Grade4AndAbove.GetDisplayName()</govuk-select-item>
                    <govuk-select-item value=@GcseGradeDataSelection.Grade5AndAbove selected="!@Model.SelectedGrade.HasValue || @Model.SelectedGrade == GcseGradeDataSelection.Grade5AndAbove">@GcseGradeDataSelection.Grade5AndAbove.GetDisplayName()</govuk-select-item>
                </govuk-select>
                <govuk-button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-left-2">Show results</govuk-button>
            </form>
        </div>

        <div class="data-container">
            <h3 id="chartHeading" class="govuk-heading-m govuk-heading-m govuk-!-margin-top-3">
                @Model.SelectedGrade!.GetDisplayName() in English and maths GCSEs
            </h3>
            <p class="govuk-body">
                @(Model.SelectedGrade == GcseGradeDataSelection.Grade5AndAbove ? "Grade 5 is comparable to the top of the old grade C." : "The bottom of grade 4 is comparable to the bottom of the old grade C")
            </p>

            <input type="radio" name="dataView" id="current-view" class="govuk-visually-hidden" checked />
            <input type="radio" name="dataView" id="data-overtime-view" class="govuk-visually-hidden" />

            <div id="all-gcse-current-year-data-container" class="all-gcse-current-year-data-container">
                <div id="all-gcse-current-year-chart-container" class="chart-container all-gcse-current-year-chart-container">
                    <canvas id="all-gcse-chart"
                            class="js-chart"
                            data-type="bar"
                            data-chart='@Html.Raw(Json.Serialize(Model.AllGcseData))'
                            data-colors='["#DE6B24", "#27A0CC", "#003C56"]'>
                    </canvas>
                </div>

                <div id="all-gcse-current-year-table-container" class="all-gcse-current-year-table-container">
                    <table id="all-gcse-current-year-table" class="govuk-table">
                        <tbody class="govuk-table__body">
                            @foreach (var label in Model.AllGcseData.Labels.Select((value, i) => (value, i)))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">@label.value</th>
                                    <td class="govuk-table__cell">@Model.AllGcseData.Data[label.i]%</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="govuk-button-group">
                    <govuk-button id="all-gcse-current-year-show-btn" class="govuk-button govuk-button--secondary all-gcse-current-year-show-btn">Show as a table</govuk-button>
                </div>

                <div class="govuk-button-group">
                    <label id="all-gcse-show-data-over-time-btn" for="data-overtime-view" class="govuk-button govuk-button--secondary">Show data over time</label>
                </div>
            </div>

            <div id="all-gcse-data-over-time-data-container" class="all-gcse-data-over-time-data-container">
                <div id="all-gcse-data-over-time-chart-container" class="chart-container all-gcse-data-over-time-chart-container">
                    <canvas id="all-gcse-data-overtime-chart"
                            class="js-chart"
                            data-type="line"
                            data-chart='@Html.Raw(Json.Serialize(Model.AllGcseOverTimeData))'
                            data-colors='["#DE6B24", "#27A0CC", "#003C56"]'>
                    </canvas>
                </div>

                <div id="all-gcse-data-over-time-table-container" class="all-gcse-data-over-time-table-container">
                    <table id="all-gcse-data-overtime-table" class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"></th>
                                @foreach (var label in Model.AllGcseOverTimeData.Labels)
                                {
                                    <th scope="col" class="govuk-table__header">@label</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var dataset in Model.AllGcseOverTimeData.Datasets.Select((value, i) => (value, i)))
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">@dataset.value.Label</th>
                                    @foreach (var data in dataset.value.Data)
                                    {
                                        <td class="govuk-table__cell">@data%</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="govuk-button-group">
                    <govuk-button id="all-gcse-data-over-time-show-btn" class="govuk-button govuk-button--secondary all-gcse-data-over-time-show-btn">Show as a table</govuk-button>
                </div>

                <div class="govuk-button-group">
                    <label id="all-gcse-show-current-data-btn" for="current-view" class="govuk-button govuk-button--secondary">Show current data</label>
                </div>
            </div>
        </div>

        <div class="data-container">
            <h3 class="govuk-heading-m govuk-heading-m govuk-!-margin-top-3">
                Results by pupil types for @Model.SelectedGrade!.GetDisplayName() in English and maths GCSEs                
            </h3>
            <p class="govuk-body">
                @(Model.SelectedGrade == GcseGradeDataSelection.Grade5AndAbove ? "Grade 5 is comparable to the top of the old grade C." : "The bottom of grade 4 is comparable to the bottom of the old grade C")
            </p>

            <div id="breakdown-gcse-current-year-data-container" class="breakdown-gcse-current-year-data-container">
                <div id="breakdown-gcse-current-year-chart-container" class="chart-container breakdown-gcse-current-year-chart-container">
                    <div id="breakdown-gcse-chart-legend" class="chart-legend" data-chart-id="breakdown-gcse-chart"></div>
                    <div class="chart-container">
                        <canvas id="breakdown-gcse-chart"
                                class="js-chart"
                                data-type="bar"
                                data-show-legend="true"
                                data-chart='@Html.Raw(Json.Serialize(Model.BreakdownGcseData))'
                                data-colors='["#DE6B24", "#27A0CC", "#003C56"]'>
                        </canvas>
                    </div>
                </div>

                <div id="breakdown-gcse-current-year-table-container" class="breakdown-gcse-current-year-table-container">
                    <table id="breakdown-gcse-current-year-table" class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"></th>
                                @foreach (var label in Model.BreakdownGcseData.Labels)
                                {
                                    <th scope="col" class="govuk-table__header">@label</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var dataset in Model.BreakdownGcseData.Datasets)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">@dataset.Label</th>
                                    @foreach (var data in dataset.Data)
                                    {
                                        <td class="govuk-table__cell">@data%</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="govuk-button-group">
                    <button id="breakdown-gcse-current-year-show-btn" class="govuk-button govuk-button--secondary breakdown-gcse-current-year-show-btn">Show as a table</button>
                </div>

            </div>
        </div>

        <govuk-pagination id="academic-performance-english-and-maths-results-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAcademicPerformanceAttainmentAndProgress" asp-all-route-data="@Model.RouteAttributes">Academic performance: Attainment and progress</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAcademicPerformanceSubjectsEntered" asp-all-route-data="@Model.RouteAttributes">Academic performance: Subjects entered</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>

@section Scripts {
    <script src="~/js/chart.umd.js"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/js/chart-factory.js"></script>
    <script src="~/js/english-maths-results.js"></script>
}