@model SAPPub.Web.Models.SecondarySchool.AcademicPerformanceSubjectsEnteredViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Academic Performance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAcademicPerformancePupilProgress
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <nav id="sub-navigation-academic-performance" class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformancePupilProgress" asp-all-route-data="@Model.RouteAttributes">Pupil progress</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults" asp-all-route-data="@Model.RouteAttributes">English and maths results</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" asp-route="@RouteConstants.SecondaryAcademicPerformanceSubjectsEntered" asp-all-route-data="@Model.RouteAttributes">Subjects entered</a>
                </li>
            </ul>
        </nav>

        <govuk-details id="details-academic-performance">
            <govuk-details-summary>
                What do the qualifications mean?
            </govuk-details-summary>
            <govuk-details-text>
                <p>A GCSE is an academic qualification awarded for exams in England, usually taken at the age of 16.</p>
                <p>Technical Awards, such as BTECs, are work-related qualifications in areas like travel and tourism or animal care.</p>
                <p>If the qualification offered is not applicable, it means that pupils will study this subject but will not gain a qualification.</p>
            </govuk-details-text>
        </govuk-details>

        @if (Model.CoreSubjects != null)
        {
            <table id="core-subjects-entered-table" class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Core subjects entered</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Subject</th>
                        <th scope="col" class="govuk-table__header">Qualification</th>
                        <th scope="col" class="govuk-table__header">Percentage of pupils entered</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var coreSubject in Model.CoreSubjects)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@coreSubject.Subject</td>
                            <td class="govuk-table__cell">@coreSubject.Qualification</td>
                            <td class="govuk-table__cell">@coreSubject.PercentageOfPupilsEntered</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <govuk-pagination id="academic-performance-subjects-entered-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults" asp-all-route-data="@Model.RouteAttributes">Academic performance: English and maths results</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryDestinations" asp-all-route-data="@Model.RouteAttributes">Destinations</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>