@model SAPPub.Web.Models.SecondarySchool.AcademicPerformancePupilProgressViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation


@{
    ViewData["Title"] = "Academic Performance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAcademicPerformancePupilProgress
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <nav id="sub-navigation-academic-performance" class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" asp-route="@RouteConstants.SecondaryAcademicPerformancePupilProgress" asp-all-route-data="@Model.RouteAttributes">Pupil progress</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults" asp-all-route-data="@Model.RouteAttributes">English and maths results</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformanceSubjectsEntered" asp-all-route-data="@Model.RouteAttributes">Subjects entered</a>
                </li>                
            </ul>
        </nav>

        <h2>Attainment and progress of pupils in the previous academic year</h2>

        <p>
            Information in this section is for the 2024 to 2025 academic year.
        </p>

        <h3>Attainment 8</h3>

        <p>
            Attainment 8 is used to assess a pupil’s average achievement across their best performing 8 subjects.
        </p>

        <govuk-details id="details-attainment8">
            <govuk-details-summary>
                Find out more about Attainment 8
            </govuk-details-summary>
            <govuk-details-text>
                <p>
                    The 8 subjects that are used in Attainment 8 are split into 3 groups:
                </p>
               
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        English and maths, which are both double-weighted
                    </li>
                    <li>
                        EBacc subjects, these are a group of GCSE subjects that help students gain a broad set of knowledge and skills.
                        These subjects include sciences, geography, history, and languages                        
                    </li>
                    <li>
                        open group which includes any other approved GCSEs or vocational qualifications
                    </li>
                </ul>
                <p>
                    Each GCSE grade is given a point score (for example grade 9 = 9 points, grade 8 = 8 points, and so on).
                    The scores from the best 8 subjects (with English and Maths counting twice) are added together to give the Attainment 8 score.
                </p>

                <p>
                    If a student scores high grades across these subjects, their Attainment 8 score will be higher.  The maximum score a pupil can have is 90.
                </p>
            </govuk-details-text>
        </govuk-details>

        <govuk-pagination id="academic-performance-pupil-progress-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAttendance" asp-all-route-data="@Model.RouteAttributes">Attendance</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults" asp-all-route-data="@Model.RouteAttributes">Academic performance: English and maths results</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>


