@model SAPPub.Web.Models.SecondarySchool.AcademicPerformanceEnglishAndMathsResultsViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation
@using System.Text.Json
@using static SAPPub.Web.Models.SecondarySchool.AcademicPerformanceEnglishAndMathsResultsViewModel

@{
    ViewData["Title"] = "Academic Performance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-l">@Model.SchoolName</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <p class="govuk-body">
            Looking at school performance data is one way to see how well a school is doing.
            You should look at a range of information about a school before deciding if it’s the right fit for your child.
        </p>
        <nav id="sub-navigation-academic-performance" class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformancePupilProgress" asp-all-route-data="@Model.RouteAttributes">Pupil progress</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" asp-route="@RouteConstants.SecondaryAcademicPerformanceEnglishAndMathsResults" asp-all-route-data="@Model.RouteAttributes">English and maths results</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" asp-route="@RouteConstants.SecondaryAcademicPerformanceSubjectsEntered" asp-all-route-data="@Model.RouteAttributes">Subjects entered</a>
                </li>
            </ul>
        </nav>

        <h2 class="govuk-heading-l">English and maths results for the previous academic year</h2>

        <p class="govuk-body">
            Information in this section is for the 2024 to 2025 academic year.
        </p>

        <govuk-details id="details-gcse-grades-explained">
            <govuk-details-summary>
                GCSE grade 9 to 1 scale explained
            </govuk-details-summary>
            <govuk-details-text>
                <p class="govuk-body">
                    GCSEs in England have been graded on a 9 to 1 scale since 2017. This replaced the previous A* to G scale. 
                </p>
                <p class="govuk-body">
                    The number scale is not directly equivalent to the old letter one. But the old and current grading scales are comparable at the following points: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        the bottom of a grade 7 is comparable to the bottom of the old grade A
                    </li>
                    <li>
                        the bottom of grade 4 is comparable to the bottom of the old grade C 
                    </li>
                    <li>
                        the bottom of grade 1 is comparable to the bottom of the old grade G
                    </li>
                </ul>
            </govuk-details-text>
        </govuk-details>

        <div id="graphSection" class="govuk-grid-row">
            @* <form method="get" action="@Url.Action("AcademicPerformanceEnglishAndMathsResults", "SecondarySchool")#graphSection"> *@
            <form method="get" asp-action="AcademicPerformanceEnglishAndMathsResults" asp-controller="SecondarySchool" asp-fragment="graphSection">
                <govuk-select for="@Model.SelectedGrade" class="govuk-grid-column-two-thirds govuk-input__wrapper" id="gradeSelector">
                    <govuk-select-label class="govuk-label--s govuk-!-margin-right-2 select-inline-label">Choose the grade you want to see results for</govuk-select-label>
                    <govuk-select-item value=@GcseGradeDataSelection.Grade4AndAbove selected="@Model.SelectedGrade == GcseGradeDataSelection.Grade4AndAbove">@GcseGradeDataSelection.Grade4AndAbove.GetDisplayName()</govuk-select-item>
                            <govuk-select-item value=@GcseGradeDataSelection.Grade5AndAbove selected="!@Model.SelectedGrade.HasValue || @Model.SelectedGrade == GcseGradeDataSelection.Grade5AndAbove">@GcseGradeDataSelection.Grade5AndAbove.GetDisplayName()</govuk-select-item>
                </govuk-select>
                <govuk-button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-left-2">Show results</govuk-button>
            </form>
        </div>

        <div class="gds-chart-container">
            <h3 class="govuk-heading-m govuk-!-margin-left-2 govuk-!-margin-top-3" id="chartHeading">
                @Model.SelectedGrade!.GetDisplayName() in English and maths GCSEs
            </h3>
            <p class="govuk-body govuk-!-margin-left-2">
                @(Model.SelectedGrade == GcseGradeDataSelection.Grade5AndAbove ? "Grade 5 is comparable to the top of the old grade C." : "The bottom of grade 4 is comparable to the bottom of the old grade C")
            </p>
            <canvas id="chart" width="500" height="200"></canvas>
        </div>

        <govuk-pagination id="academic-performance-english-and-maths-results-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAcademicPerformancePupilProgress" asp-all-route-data="@Model.RouteAttributes">Academic performance: Pupil progress</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAcademicPerformanceSubjectsEntered" asp-all-route-data="@Model.RouteAttributes">Academic performance: Subjects entered</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>

<style>
    .gds-chart-container {
        min-height: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #b1b4b6;
    }

        .gds-chart-container canvas {
            display: block;
            width: 95% !important;
            height: 100% !important;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 20px;
            margin-right: 20px;
        }

</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
    const labels = @Html.Raw(JsonSerializer.Serialize(Model.GcseChartData.Labels));
    const gcseData = @Html.Raw(JsonSerializer.Serialize(Model.GcseChartData.GcseData));
    const chartTitle = @Html.Raw(JsonSerializer.Serialize(Model.GcseChartData.ChartTitle));

    const chartCtx = document.getElementById('chart').getContext('2d');

    const gcseChart = new Chart(chartCtx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets:[{
                label: '% achieving grade 5+ in English & Maths GCSEs',
                data: gcseData,
                backgroundColor: ['#4e79a7', '#f28e2b', '#76b7b2'],
                borderWidth: 1,
                barThickness: 'flex',
                maxBarThickness: 60
            }]
        },
        options: {
            responsive: true,
            maintainAspecRatio: false,
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: 80,
                    grid: {
                        display: true,
                        drawBorder: false,
                        color: (context) => {
                            return context.tick.value === 0 ? '#000' : '#ccc';
                        },
                        lineWidth: (context) => {
                            return context.tick.value === 0 ? 2 : 1;
                        }
                    },
                    border: {
                        display: false
                    },
                    ticks: {
                        color: '#0b0c0c',
                        font: {
                            family: 'GDS Transport, Arial, sans-serif',
                            size: 16
                        },
                        stepSize: 20,
                        callback: (value) => value + '%'
                    }
                },
                y: {
                    grid: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        color: '#0b0c0c',
                        font: {
                            family: 'GDS Transport, Arial, sans-serif',
                            size: 16
                        }
                    }
                }
            },
            plugins: {
                tooltip: {
                    enabled: false
                },
                legend: { display: false },
                title: {
                    display: false,
                    text: chartTitle,
                    font: { size: 18, weight: 'bold' }
                },
                datalabels: {
                    anchor: 'end',
                    align: 'start',
                    offset: 10,
                    color: '#0b0c0c',
                    font: {
                        family: 'GDS Transport, Arial, sans-serif',
                        size: 16
                    },
                    formatter: function(value) {
                        return value + '%';
                    },
                    clamp: true,
                    clip: true
                }
            }
        },
        plugins: [ChartDataLabels]
    });

</script>