@model SAPPub.Web.Models.SecondarySchool.AdmissionsViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Admissions";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAdmissions
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-xl">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        @* Todo - More content to go here *@

        <h2 class="govuk-heading-l">Moving schools during the school year</h2>

        <div class="govuk-summary-card" data-testid="moving-schools-during-year-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">
                    Moving schools during the school year
                </h3>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    If your child is joining a school after the school year has started in
                    September, you’ll need to make an in-year application.
                </p>
                <p class="govuk-body">
                    Depending on the school you’re applying for, you’ll either need to: 
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>make an in-year application through your local council </li>
                    <li>apply directly to the school </li>
                </ul>
                <p class="govuk-body">
                    You can find information on which schools you’ll need to apply
                    directly to on your local council’s website.  
                </p>
                <p class="govuk-body">
                    <a href="@Model.LASecondarySchoolAdmissionsLinkUrl" class="govuk-link govuk-link--no-visited-state" data-testid="link">@($"{Model.LAName}’s in-year application process.")</a>
                </p>
            </div>
        </div>

        <govuk-pagination id="admissions-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAboutSchool" asp-all-route-data="@Model.RouteAttributes">About the school</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryCurriculumAndExtraCurricularActivities" asp-all-route-data="@Model.RouteAttributes">Curriculum and extra-curricular activities</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>