@model SAPPub.Web.Models.SecondarySchool.AdmissionsViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Admissions";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAdmissions
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-l">@Model.SchoolName</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <govuk-accordion id="admissions-accordion" hide-all-sections-text="Hide all sections" show-all-sections-text="Show all sections" hide-section-text="Hide" show-section-text="Show more">
            <govuk-accordion-item>
                <govuk-accordion-item-heading>What to do if your child is moving schools</govuk-accordion-item-heading>
                <govuk-accordion-item-summary>If your child is moving schools, you’ll need to apply through your local council.</govuk-accordion-item-summary>
                <govuk-accordion-item-content>
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">In-year admissions</h2>
                        </div>

                        <div class="govuk-summary-card__content">
                            <div class="govuk-summary-list__row govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                                <p>
                                    If your child is moving schools, you’ll need to apply through your local council,
                                    even if you’re applying for a school in another council area or you’ve just moved to England.
                                </p>
                            </div>
                            <govuk-summary-list>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>Find out which schools have places</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        <a class="govuk-link" href="#">
                                            View information on schools with vacancies on Sheffield City Council’s website
                                        </a>
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>Apply to change schools</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        <a class="govuk-link" href="#">
                                            View information on applying to move schools on Sheffield City Council’s website
                                        </a>
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                            </govuk-summary-list>
                        </div>
                    </div>
                </govuk-accordion-item-content>
            </govuk-accordion-item>

            <govuk-accordion-item>
                <govuk-accordion-item-heading>Supporting information for secondary school applications</govuk-accordion-item-heading>
                 <govuk-accordion-item-summary></govuk-accordion-item-summary>
                <govuk-accordion-item-content>
                    <p>
                        Some types of schools require supporting information to make an application.
                        Depending on the school, this could include:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            a Supplementary Information Form (SIF), for example for a faith school
                        </li>
                        <li>
                            an aptitude test, for example a music aptitude test
                        </li>
                        <li>
                            an entrance test, for example for some grammar schools
                        </li>
                    </ul>
                    <p>
                        Parents make an applications then the school arranges for the child to take the test. After the results of the test, schools use this to allocate places. - selection testing
                        You’ll usually need to submit these forms directly to the school you’re applying for.
                    </p>
                </govuk-accordion-item-content>
            </govuk-accordion-item>
        </govuk-accordion>

        <govuk-pagination id="admissions-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAboutSchool" asp-all-route-data="@Model.RouteAttributes">About the school</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryCurriculumAndExtraCurricularActivities" asp-all-route-data="@Model.RouteAttributes">Curriculum and extra-curricular activities</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>