@model SAPPub.Web.Models.SecondarySchool.AttendanceViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Attendance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        Urn = Model.Urn,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAttendance
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <govuk-pagination id="attendance-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryCurriculumAndExtraCurricularActivities" asp-all-route-data="@Model.RouteAttributes">Curriculum and extra-curricular activities</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAcademicPerformancePupilProgress" asp-all-route-data="@Model.RouteAttributes">Academic performance: Pupil progress</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>