@model SAPPub.Web.Models.SecondarySchool.AttendanceViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Attendance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAttendance
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-xl">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <div id="attendance-policy-summary" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Attendance policy</h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    All schools must publish an attendance policy. This should outline expectations, procedures, and responsibilities for
                    ensuring pupils attend school regularly and on time.
                </p>

                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Attendance policy
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="@Model.SchoolWebsite">
                                View the attendance policy on the school website
                                <span class="govuk-visually-hidden">(opens in a new tab)</span>
                            </a>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </div>
        </div>

        <govuk-pagination id="attendance-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryCurriculumAndExtraCurricularActivities" asp-all-route-data="@Model.RouteAttributes">Curriculum and extra-curricular activities</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAcademicPerformanceAttainmentAndProgress" asp-all-route-data="@Model.RouteAttributes">Academic performance: Attainment and progress</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>