@model SAPPub.Web.Models.SecondarySchool.CurriculumAndExtraCurricularActivitiesViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Curriculum and extra-curricular activities";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        URN = Model.URN,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryCurriculumAndExtraCurricularActivities
    })

    <div class="govuk-grid-column-three-quarters">
        <span id="school-name-caption" class="govuk-caption-xl">@Model.SchoolName</span>
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <h2 class="govuk-heading-l">Curriculum</h2>
        <div id="current-curriculum-summary" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">Current curriculum</h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-summary-list__row">
                    <p class="govuk-body">
                        Subjects taught at each school will vary. Most secondary schools will teach the core subjects of English, maths and science, along with the foundation subjects of the national curriculum.
                        Schools can also include other subjects or topics of their choice as part of the school curriculum.
                    </p>
                </div>

                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Key stage 3 (KS3) curriculum
                            <span class="govuk-hint govuk-clear">
                                Covers years 7 to 9
                            </span>
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                View the school’s KS3 curriculum on their website
                                <span class="govuk-visually-hidden">(opens in a new tab)</span>
                            </a>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Key stage 4 (KS4) curriculum
                            <span class="govuk-hint govuk-clear">
                                Covers years 10 and 11
                            </span>
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                View the school’s KS4 curriculum on their website
                                <span class="govuk-visually-hidden">(opens in a new tab)</span>
                            </a>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l govuk-!-margin-top-5">
            Extra-curricular activities
        </h2>

        <h3 class="govuk-heading-m">
            Activities schools can offer
        </h3>

        <p class="govuk-body">
            Schools can offer a range of extra-curricular activities, for example:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                community or diversity clubs - some schools may offer activities such as an LGBT+ club or a wellbeing club
            </li>
            <li>
                creative arts
            </li>
            <li>
                clubs relating to an academic subject, not homework or revision sessions
            </li>
            <li>
                performing arts
            </li>
            <li>
                sports and physical activities
            </li>
            <li>
                volunteering
            </li>
            <li>
                uniform groups - some schools may offer Combined Cadet Force, Guides or Scouts, for example
            </li>
            <li>
                personal and social development - some schools may offer activities such as Duke of Edinburgh Award, for example
            </li>
        </ul>

        <div id="current-extra-curricular-activities-offered-summary" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">Current extra-curricular activities offered</h3>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-summary-list__row">
                    <p class="govuk-body">
                        Most schools offer a range of activities that are linked to, or work in addition to, the curriculum.
                    </p>
                    <p class="govuk-body">
                        The range of activities can vary due to staff availability, time of year and funding.
                    </p>
                </div>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Extra-curricular activities</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                Visit the school website for current extra-curricular activities
                                <span class="govuk-visually-hidden">(opens in a new tab)</span>
                            </a>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </div>
        </div>

        <govuk-pagination id="current-extra-curricular-activities-pagination">
            <govuk-pagination-previous asp-route="@RouteConstants.SecondaryAdmissions" asp-all-route-data="@Model.RouteAttributes">Admissions</govuk-pagination-previous>
            <govuk-pagination-next asp-route="@RouteConstants.SecondaryAttendance" asp-all-route-data="@Model.RouteAttributes">Attendance</govuk-pagination-next>
        </govuk-pagination>
    </div>
</div>