@model SAPPub.Web.Models.Search.SearchResultsViewModel

@{
    ViewData["Title"] = "Search results";
}

<h1>@Model.Heading</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="get" asp-controller="Search" asp-action="SearchResults">
            <div class="shaded-box">
                <govuk-fieldset>
                    <govuk-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--l"></govuk-fieldset-legend>

                        <govuk-input input-class="govuk-input govuk-!-width-full" input-placeholder="Search by keyword" for=@Model.SearchParams.NameSearchTerm name="NameSearchTerm" data-testid="searchByNameInput">
                            <govuk-input-label is-page-heading="false" class="govuk-label--s" id="school-name">School name</govuk-input-label>
                            <govuk-input-hint>For example, St Joseph's secondary school</govuk-input-hint>
                        </govuk-input>

                        <govuk-input input-class="govuk-input govuk-!-width-full" input-placeholder="Search by postcode" for=@Model.SearchParams.LocationSearchTerm name="LocationSearchTerm" data-testid="searchByLocationInput">
                            <govuk-input-label is-page-heading="false" class="govuk-label--s" id="location">Postcode</govuk-input-label>
                            <govuk-input-hint>For example, LS28 8EU</govuk-input-hint>
                        </govuk-input>

                    <govuk-button id="search" type="submit">Search</govuk-button>

                </govuk-fieldset>
            </div>
            <govuk-fieldset>
                <govuk-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--l"></govuk-fieldset-legend>

                    <p><strong>@(Model.SearchParams.LocationSearchTerm != null ? "Sorted by distance" : "Sorted alphabetically")</strong></p>
                    @if (Model.SearchParams.LocationSearchTerm is not null)
                    {
                        <govuk-select for=@Model.SearchParams.Distance name="Distance">
                        <govuk-select-label class="govuk-label--s">Change radius</govuk-select-label>
                            <govuk-select-item value="3" selected="@Model.SearchParams.Distance == 3">3</govuk-select-item>
                            <govuk-select-item value="5" selected="@Model.SearchParams.Distance == 5">5</govuk-select-item>
                            <govuk-select-item value="10" selected="@Model.SearchParams.Distance == 10">10</govuk-select-item>
                        </govuk-select>
                        <govuk-button class="govuk-button govuk-button--secondary" id="show-results" type="submit">Show results</govuk-button>
                    }
            </govuk-fieldset>
        </form>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        @foreach (var modelItem in Model.SearchResults)
        {
            <a class="govuk-link" href="@Url.Action("Index", "School", new { urn = modelItem.URN, schoolName = modelItem.EstablishmentName })">@modelItem.EstablishmentName</a>
            
            @if(modelItem.IsSchoolClosed)
            {
                <p data-testId="school-closed-tag" class="govuk-body govuk-!-margin-top-4">
                    <strong class="govuk-tag">
                        @(modelItem.ClosedDate.IsAvailable ? $"Closed in {modelItem.ClosedDate.DisplayText(d => d.ToString("MMMM yyyy"))}" : "Closed")
                    </strong>
                </p>                
            }

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@modelItem.Address</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Religious character</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@modelItem.ReligiousCharacter</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Pupil sex</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@modelItem.GenderName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        }
        @if (Model.SearchResults.Count == 0)
        {
            <h2 class="govuk-heading-s govuk-!-font-weight-bold" data-testid="no-results-heading">Try another search</h2>
            <p class="govuk-body">
                @(!String.IsNullOrEmpty(Model.SearchParams.NameSearchTerm)
                            ? "You may need to search by a postcode instead of school name."
                            : !String.IsNullOrEmpty(Model.SearchParams.LocationSearchTerm)
                            ? "You may need to search by a school name instead of postcode."
                            : String.Empty)
            </p>
        }
    </div>
</div>
