@model SAPPub.Web.ViewComponents.VerticalNavigationCompareSecondary.VerticalNavigationCompareSecondaryModel
@using SAPPub.Web.Constants
@using SAPPub.Web.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model != null)
{
    <div class="govuk-grid-column-one-quarter">
        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item  @(Model.ActivePage == RouteConstants.CompareSecondaryAboutYourSchools ? "moj-side-navigation__item--active" : "")">
                    <a href="@Url.RouteUrl(RouteConstants.CompareSecondaryAboutYourSchools, new {urns = Model.URNs})">About your schools</a>
                </li>
                <li class="moj-side-navigation__item  @(new List<string> { RouteConstants.CompareSecondaryAcademicPerformancePupilAttainment, RouteConstants.CompareSecondaryAcademicPerformanceEnglishAndMathsResults }.Contains(Model.ActivePage) ? " moj-side-navigation__item--active" : "")">
                    <a href="@Url.RouteUrl(RouteConstants.CompareSecondaryAcademicPerformancePupilAttainment, new { urns = Model.URNs })">Academic Performance</a>
                </li>
                <li class="moj-side-navigation__item  @(Model.ActivePage == RouteConstants.CompareSecondaryDestinations ? "moj-side-navigation__item--active" : "") ">
                    <a href="@Url.RouteUrl(RouteConstants.CompareSecondaryDestinations, new { urns = Model.URNs })">Destinations after year 11</a>
                </li>
                <li class="moj-side-navigation__item  @(Model.ActivePage == RouteConstants.CompareSecondaryNextSteps ? "moj-side-navigation__item--active" : "")">
                    <a href="@Url.RouteUrl(RouteConstants.CompareSecondaryNextSteps, new {urns = Model.URNs})">Next steps</a>
                </li>
            </ul>
        </nav>
    </div>
}
