@model IEnumerable<SAPPub.Core.Entities.TESTablishment>

@{
    ViewData["Title"] = "TestIndex";
}

<h1>TestIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.URN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishmentNameClean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrustsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLocality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressAddress3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressTown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressPostcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionsPolicyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionPolicy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DFENumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictAdministrativeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictAdministrativeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhaseOfEducationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhaseOfEducationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headteacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadteacherTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadteacherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadteacherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadteacherPreferredJobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRangeLow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRangeHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialSixthFormId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReligiousCharacterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReligiousCharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPupils)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfEstablishmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfEstablishmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourcedProvision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UKPRN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrbanRuralId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrbanRuralName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Easting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Northing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishmentNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.URN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishmentNameClean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrustsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLocality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressAddress3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressTown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressPostcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionsPolicyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionPolicy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DFENumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictAdministrativeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictAdministrativeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseOfEducationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseOfEducationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headteacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadteacherTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadteacherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadteacherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadteacherPreferredJobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRangeLow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRangeHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialSixthFormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReligiousCharacterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReligiousCharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPupils)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfEstablishmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfEstablishmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourcedProvision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UKPRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrbanRuralId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrbanRuralName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Easting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Northing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishmentNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
